.center {
    text-align: center;
    display:flex;
    justify-content:center;
    animation:fade-in 0.5s linear;
  }
  
  #sizer{
    background-repeat:no-repeat!important;
    background-size:contain!important;
    background-position:center!important;
}


@media screen and (max-width:600px){
  .responsive iframe {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

.grow { 
  transition: all .2s ease-in-out;
  -webkit-animation:pop-in 1.5s;
  -moz-animation:pop-in 1.5s;
  -ms-animation:pop-in 1.5s; 
}
.grow:hover { 
  transform: scale(1.1); 
}

@keyframes left-right{
  from { opacity: 0}
  to  {opacity:1}
}

@-webkit-keyframes pop-in {
  0% { opacity: 0; -webkit-transform: scale(0.5); }
  100% { opacity: 1; -webkit-transform: scale(1); }
  }
  @-moz-keyframes pop-in {
  0% { opacity: 0; -moz-transform: scale(0.5); }
  100% { opacity: 1; -moz-transform: scale(1); }
  }
  @keyframes pop-in {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
  }
