.center {
    text-align: center;
    display:flex;
    justify-content:center;
    animation:fade-in 0.5s linear;
  }
  
  #sizer{
    background-repeat:no-repeat!important;
    background-size:contain!important;
    background-position:center!important;
}