#poke{
    color:white;
}

#bg-light {
    background-color: #e21010!important;
}

#bg-light .navbar-brand {
    color:white;
}

.font{
    size:5px !important;
}

#NavColor{
    color:white;
}


@media screen and (max-width:600px){
    .responsive sub {
        font-size: 5px;
    }
  }
  

