#poke{
    color:white;
}

#bg-light {
    background-color: #e21010!important;
}

#bg-light .navbar-brand {
    color:white;
}

.font{
    size:5px !important;
}

#NavColor{
    color:white;
}

.flex{
    display: flex;
    position: relative;
    min-height: 56px;
    align-items: center;
}

@media screen and (max-width:600px){
    .responsive sub {
        font-size: 5px;
    }
  }
  

